{% load turbo_streams %}
{% turbo_subscribe room %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Room Detail</title>
    </head>
    <body>
        <a href="{% url 'room_list' %}">Home</a>

        <h1>{{ room.name }}</h1>

        <turbo-frame id="message-list">
        <ul id="messages">
            {% for message in room.messages.all%}
                {% include "app/components/message.html"  with message=message only %}
            {% endfor %}
        </ul>
        </turbo-frame>
        <turbo-frame id="send-message" src="{% url 'message_create' room.id %}">{% include "app/components/send_message.html"%}</turbo-frame>
    </body>
</html>